<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.webServer>
      <handlers>
        <add name="GuessMyNumberWebSocketAsyncHandler" verb="*" path="play"
                 type="GuessMyNumber.Server.GuessMyNumberWebSocketAsyncHandler, GuessMyNumber.Server"
                 resourceType="Unspecified" />
      </handlers>
    </system.webServer>
</configuration>
