<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.gmn.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="ar.com.gmn.android.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ar.com.gmn.android.SinglePlayerFragmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="ar.com.gmn.android.MenuActivity"

            android:label="@string/app_name"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="ar.com.gmn.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="ar.com.gmn.android.DuelFragmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_duel_fragment" >
        </activity>
        <activity
            android:name="ar.com.gmn.android.MultiplayerManagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_multiplayer_manager"
            android:parentActivityName="ar.com.gmn.android.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
    </application>

</manifest>
